.PaginadorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
}

.arrowContainer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: transform 1s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowContainer p {
    font-size: 20px;
}

.arrowContainer:hover {
    transform: scale(1.2);
}

.PaginadorContainer div {
    padding: 8px 14px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    color: #FABADA;
    cursor: pointer;
    transition: transform 1s;
}

.PaginadorContainer div:hover {
    background-color: rgba(0,0,0,0.8);
    transform: scale(1.1);
}

.PaginadorContainer h1 {
    color: #FABADA;
    font-size: 20px;
}

.PaginadorContainer p {
    color: #FABADA;
}